/vendor/
/node_modules
/bootstrap
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions
/storage/framework/views
/storage/logs/*
/cmd
/backup
/.vscode
/.vagrant
.env
.phpunit.result.cache
.htaccess
.ftpquota
.well-known
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
robots.txt